{% from "macros/dayTime.html" import dayLog %}
{% extends "layout.njk" %}

    
    
{% block content %}
    {% include "../templates/partials/header.html" %}

    {% set week = ["Monday","Tuesday","Wednesday","Thursday","Friday"] %}
    
    {% for day in week %}
         {{ dayLog (day) }}
    {% endfor %}

{% endblock %}