{% macro dayLog(day) %}
    <div class="day">
        <h3>{{ day }}</h3>
        <div class="day__punchIn">
            <label for="{{day}}_punchIn"> In time: </label> </br>
            <input type="time" class="punchIn" id="{{day}}_punchIn" name= "{{day}}In" value="08:00">
        </div>
        <div class="day__punchOut">
            <label for="{{day}}_punchOut"> Out time: </label> </br>
            <input type="time" class="punchOut" id="{{day}}_punchOut" name= "{{day}}_Out" value="16:30">
        </div>
        <div class="day__dailyTotal">
            <p>
                    <code>
                    <span class="total" id="{{day}}_total">8</span>
                    </code>
                    hrs
            </p>
        </div>
        <button class="addUp" id= "{{day}}_addUP"> Enter </button>
    </div>
{% endmacro %}

    