<header class="head">

    <div class="head__work">
        <h1>Weekly hours</h1>
        <div class="head__control">
            <button class="head__control-reset"id="reset">Reset week</button>
            <button class="head__control-addUp" id= "head__addUP"> Cacluate hr </button>
        </div>

        <div class="head__wkyTotal">
            <p class="head__wkyTotal">
                <span class="total" id="weekly_total">40</span>
            </p>
        </div>
    </div>

    <div class="head__data">
        <p>Future chart here</p>
    </div>

</header>